.about_main {
  width: 100%;
  .title_section {
    position: relative;
    height: 100vh;
    .title_visual_img_wrap {
      position: absolute;
      top: 0;
      width: 100vw;
      height: 100%;
      overflow: hidden;

      .visual_img {
        height: 100%;
        object-fit: fill;
        position: absolute;
        right: 0;
        bottom: 0;
        z-index: -1;
      }
      .visual_corner {
        height: 40%;
        position: absolute;
        top: -5%;
        left: -5%;
      }
    }
    .title_text {
      width: 100%;
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      color: #000000;
      > h1 {
        text-align: center;
        font-size: 6vw;
        -webkit-text-stroke-width: 0.1vw;
        font-family: jamsil_light;
        -webkit-text-stroke-color: #000000;
      }
      > p {
        font-size: 3vw;
        line-height: 1.5;
        text-align: center;
      }
    }

    .visual_scroll {
      position: absolute;
      z-index: 20;
      top: 50%;
      left: 3%;
      transform: translate(-50%, -50%);
      display: flex;
      flex-direction: column;
      align-items: center;
      > p {
        width: 1px;
        height: 100px;
        position: relative;
        overflow: hidden;
        &::before {
          content: "";
          display: block;
          position: absolute;
          width: 100%;
          height: 100%;
          background-color: black;
          animation: scrollBarAnimation infinite 2000ms linear;
        }
      }
    }
  }
  .profile_section {
    max-width: 72rem;
    width: 90%;
    margin: 5rem auto;
    > h2 {
      font-size: 4vw;
      text-align: center;
      width: 100%;
    }
    article {
      display: inline-block;
      width: 50%;
      vertical-align: top;
    }
    .profile_info {
      > p {
        > b {
          line-height: 2.3;
        }
      }
    }
    .profile_about {
      > figure {
        display: flex;
        .profile_img_container {
          .profile_icon_wrap {
            width: 6vw;
            max-width: 80px;
            min-width: 64px;
            display: flex;
            flex-wrap: wrap;
            .profile_icon {
              width: 80%;
              margin-bottom: 20%;
              padding: 10%;
              aspect-ratio: 1;
              border: 1px solid #00000033;
              border-radius: 8px;
              box-shadow: 1px 2px 4px #00000044;
              display: flex;
              justify-content: center;
              align-items: center;
              transition: 100ms;
              > svg {
                width: auto;
              }
              &.hover {
                transform: translate(1px, 2px);
                box-shadow: none;
              }
            }
          }
        }

        .profile_info_container {
          flex-grow: 1;
          margin-left: 1vw;
          position: relative;

          .profile_info {
            margin: 4px 0;
            width: 100%;
            white-space: pre-wrap;
            word-break: break-all;
          }
        }
      }
    }
    .life_graph {
      margin-top: 3rem;
    }
  }

  .archive_section {
    max-width: 72rem;
    width: 90%;
    margin: 0 auto 8rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    > h2 {
      font-size: 4vw;
      width: 100%;
      text-align: center;
    }
    > article {
      display: inline-block;
      width: 30%;
      vertical-align: top;
      border: 1px solid #00000033;
      border-radius: 1rem;
      box-shadow: 5px 5px 5px #00000088;
      transition: 200ms;
      > a {
        display: block;
        width: 100%;
        margin: 0 auto;
        color: initial;
        text-decoration: none;
        > figure {
          margin: 20px;
          .archive_logo_img_wrap {
            margin-bottom: 20px;
            > svg {
              width: 64px;
              aspect-ratio: 1;
              fill: #000000;
            }
            > span {
              font-size: 3rem;
              padding-left: 10px;
            }
          }
          > figcaption {
            > p {
              line-height: 2;
            }
            > ul {
              padding: 0;
              > li {
                text-align: left;
              }
            }
          }
        }
      }
      &:hover {
        transform: translate(5px, 5px);
        box-shadow: none;
        background-color: #57abad;
      }
    }
  }
}

@keyframes scrollBarAnimation {
  0% {
    top: -120%;
  }
  100% {
    top: 120%;
  }
}

@media screen and (max-width: 1024px) {
  .about_main {
    .profile_section {
      > h2 {
        font-size: 6vw;
      }
      article {
        display: flex;
        width: 100%;
        vertical-align: initial;
      }
      .profile_info {
        flex-wrap: wrap;
        margin-bottom: 2rem;
        > p {
          width: 50%;
          font-size: 1.5rem;
          &:nth-child(2n) {
            text-align: end;
          }
          > b {
            line-height: 2;
          }
        }
      }
      .profile_about {
        > figure {
          margin: 0;
          .profile_img_container {
            display: none;
          }

          .profile_info_container {
            margin-left: 0;
            .profile_info {
              font-size: 1.5rem;
              line-height: 1.2;
            }
          }
        }
      }
    }

    .archive_section {
      margin: 0 auto 4rem;
      > h2 {
        font-size: 6vw;
      }
      > article {
        width: 70%;
        box-shadow: none;
        margin: 1rem auto;
        > a {
          text-decoration: none;
          > figure {
            text-align: center;
            > figcaption {
              font-size: 1.5rem;
              > ul {
                > li {
                  text-align: center;
                }
              }
            }
          }
        }
        &:hover {
          transform: translate(0);
          background-color: initial;
        }
      }
    }
  }
}
@media screen and (max-width: 768px) {
  .about_main {
    .title_section {
      .title_visual_img_wrap {
        .visual_corner {
          height: 30%;
        }
      }
      .title_text {
        > h1 {
          font-size: 3rem;
          -webkit-text-stroke: 0.1px #ffffffaa;
        }
        > p {
          font-size: 2rem;
          -webkit-text-stroke: 1px #ffffffaa;
        }
      }
    }
    .profile_section {
      > h2 {
        font-size: 8vw;
        line-height: 1;
      }
      .profile_info {
        flex-wrap: wrap;
        margin-bottom: 2rem;
        > p {
          width: 100%;
          font-size: 1.2rem;
          margin: 5px auto;
          &:nth-child(2n) {
            text-align: start;
          }
        }
      }
      .profile_about {
        > figure {
          .profile_info_container {
            .profile_info {
              font-size: 1.2rem;
              line-height: 1.2;
            }
          }
        }
      }
    }

    .archive_section {
      margin: 0 auto 2rem;
      > h2 {
        font-size: 8vw;
      }
      > article {
        width: 90%;
        margin: 1rem auto;
        > a {
          > figure {
            > figcaption {
              font-size: 1.2rem;
            }
          }
        }
      }
    }
  }
}
@media screen and (max-width: 480px) {
  .about_main {
    .title_section {
      .visual_scroll {
        > span {
          font-size: 10px;
          margin: 0;
          padding: 0;
        }
        > p {
          height: 80px;
        }
      }
    }

    .archive_section {
      margin: 0 auto 2rem;
      > h2 {
        font-size: 8vw;
      }
      > article {
        width: 95%;
        margin: 5px auto;

        > a {
          > figure {
            width: 100%;
            margin: 0;
            .archive_logo_img_wrap {
              margin: 5px;
              > span {
                font-size: 2rem;
              }
            }
            > figcaption {
              > p {
                word-break: break-all;
                margin: 0;
                padding: 0;
              }
              font-size: 1rem;
            }
          }
        }
      }
    }
  }
}
