.about_main {
  width: 100%;
  .title_section {
    position: relative;
    max-height: 700px;
    height: 90vh;
    .title_visual_img_wrap {
      position: absolute;
      top: 0;
      width: 100vw;
      height: 100%;
      > img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        z-index: -1;
        filter: brightness(0.4);
      }
    }
    .title_text {
      width: 100%;
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      color: #ffffff;
      > h1 {
        text-align: center;
        font-family: taebeak;
        font-size: 3rem;
        -webkit-text-stroke-width: 1.5px;
        -webkit-text-stroke-color: #ffffff;
      }
      > p {
        font-family: taebeak;
        font-size: 1.2rem;
        line-height: 1.5;
        text-align: center;
      }
    }
  }
  .profile_section {
    max-width: 72rem;
    width: 90%;
    margin: 5rem auto;
    > h2 {
      font-size: 4rem;
      text-align: center;
      width: 100%;
    }
    article {
      display: inline-block;
      width: 50%;
      vertical-align: top;
    }
    .profile_info {
      > p {
        > b {
          line-height: 3;
        }
      }
    }
    .profile_about {
      > figure {
        display: flex;
        .profile_img_container {
          .profile_img_wrap {
            width: 14vw;
            max-width: 160px;
            aspect-ratio: 1;
            overflow: hidden;
            border-radius: 50%;
            border: 1px solid #00000033;
            transition: 300ms;
            img {
              width: 100%;
              aspect-ratio: 1;
              transition: 300ms;
              transform-origin: top;
              transform: translateY(10%);
            }
          }
          .profile_icon_wrap {
            width: 100%;
            display: flex;
            flex-wrap: wrap;
            margin-top: 10px;
            .profile_icon {
              width: 40%;
              margin: 5%;
              aspect-ratio: 1;
              border: 1px solid #00000033;
              border-radius: 8px;
              box-shadow: 1px 2px 4px #00000044;
              display: flex;
              justify-content: center;
              align-items: center;
              transition: 100ms;
              > svg {
                width: auto;
              }
              &.hover {
                transform: translate(1px, 2px);
                box-shadow: none;
              }
            }
          }
        }

        .profile_info_container {
          flex-grow: 1;
          margin-left: 1vw;
          position: relative;
          .profile_info {
            margin: 4px 0;
            word-break: keep-all;
            opacity: 1;
            position: absolute;
            transition: opacity 300ms;
          }
          .profile_special {
            margin: 4px 0;
            word-break: keep-all;
            opacity: 0;
            position: absolute;
            transition: opacity 300ms;
          }
          &.on {
            > .profile_info {
              opacity: 0;
            }
            > .profile_special {
              opacity: 1;
            }
          }
        }
      }
    }
  }
  .archive_section {
    max-width: 72rem;
    width: 90%;
    margin: 0 auto 8rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    > h2 {
      font-size: 4rem;
      width: 100%;
      text-align: center;
    }
    > article {
      display: inline-block;
      width: 30%;
      vertical-align: top;
      border: 1px solid #00000033;
      border-radius: 1rem;
      box-shadow: 5px 5px 5px #00000088;
      transition: 200ms;
      > a {
        display: block;
        width: 100%;
        margin: 0 auto;
        color: initial;
        text-decoration: none;
        > figure {
          margin: 20px;
          .archive_logo_img_wrap {
            margin-bottom: 20px;
            > svg {
              width: 64px;
              height: 64px;
              fill: #000000;
            }
            > span {
              font-size: 3rem;
              padding-left: 10px;
            }
          }
          > figcaption {
            > p {
              line-height: 2;
            }
            > ul {
              padding: 0;
              > li {
                text-align: left;
              }
            }
          }
        }
      }
      &:hover {
        transform: translate(5px, 5px);
        box-shadow: none;
        background-color: #399ca3bb;
        .archive_logo_img_wrap {
          > svg {
            // fill: #f47341;
          }
          > span {
            // color: #f47321;
          }
        }
        > a > figure > figcaption {
          // color: ;
        }
      }
    }
  }
}
