.intro_main {
  width: 100vw;
  height: 100vh;
  .intro_section {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    .intro_left_block {
      width: 50%;
      height: 100%;
      display: flex;
      flex-wrap: wrap;
      .intro_left_block_img_wrap {
        // background-color: #eeeaeb;
        width: 50%;
        height: 50%;
        border: 1px solid #00000088;
        &:nth-child(1) {
          border: none;
        }
        &:nth-child(2) {
          border-top: none;
          border-bottom: none;
        }
        &:nth-child(3) {
          border-right: none;
          border-left: none;
        }
        &:nth-child(4) {
          border-bottom: none;
        }
      }
    }
    .intro_right_block {
      width: 50%;
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      // background-color: gray;
      > h1 {
        font-size: 10vw;
        font-family: jamsil_exbold;
        // background-image: url("/img/testimg/00.jpg");
        background-repeat: no-repeat;
        background-size: 100% 100%;
        background-position: center center;
        background-clip: text;
        -webkit-background-clip: text;
        color: transparent;
        .intro_right_block_toAbout {
          width: 100%;
          display: flex;
          justify-content: flex-end;
          align-items: center;
          padding-right: 3vw;
          .intro_toAbout_wrap {
            width: 10vw;
            height: 10vw;
            cursor: pointer;
            &:hover > p {
              color: #000000;
              // 이부분 뭘까 왜 깜빡거리지? 컬러 지우면 사라지고
              // transform: translateX(1px);
              translate: 2vw 0;
            }
            > p {
              font-size: 10vw;
              margin: 0;
              transition: 200ms;
            }
          }
        }
      }
    }
  }
}
