.project_main {
  width: 100%;
  margin-top: 100px;
  .project_section {
    max-width: 72rem;
    width: 90%;
    margin: 0 auto;
    margin-top: 200px;
    article {
      border-bottom: 2px solid #00000077;
      margin: 5rem auto;
      padding: 0 0 2rem;
      > h4 {
        text-align: end;
        font-size: 3rem;
        padding: 0;
        margin: 2rem;
      }
      > figure {
        display: flex;
        position: relative;
        .project_img_wrap {
          width: 50%;
          overflow: hidden;
          .mySwiper {
            .swiper_content {
              width: 100%;
              aspect-ratio: 1;
              border: 1px solid #00000033;
              border-radius: 5%;
              overflow: hidden;
              > img {
                width: 100%;
                aspect-ratio: 1;
                object-fit: cover;
              }
            }
          }
        }
        .project_summary {
          width: 50%;
          position: relative;
          .project_summary_text {
            padding-left: 2rem;
            line-height: 1.5;
            word-break: keep-all;
            .project_summary_title {
              font-size: 1.5rem;
              font-family: jamsil_regular;
              line-height: 1;
            }
          }
          > button {
            width: 6rem;
            height: 2rem;
            font-family: jamsil_light;
            border: none;
            background-color: #000000;
            color: #ffffff;
            border-radius: 0.3rem;
            cursor: pointer;
            float: right;
            margin-top: 2rem;
            box-shadow: 2px 2px 3px #000000aa;
            transition: 200ms;
            &:hover {
              transform: translate(2px, 2px);
              box-shadow: none;
            }
          }
        }
      }
    }
  }
}
