.project_main {
  width: 100%;
  margin-top: 100px;
  .project_section {
    max-width: 72rem;
    width: 90%;
    margin: 0 auto;
    margin-top: 200px;
    article {
      border-bottom: 2px solid #00000077;
      margin: 5rem auto;
      padding: 0 0 2rem;
      &:last-child {
        border-bottom: none;
      }
      > h4 {
        text-align: end;
        font-size: 3rem;
        padding: 0;
        margin: 2rem;
      }
      > figure {
        display: flex;
        position: relative;
        .project_img_wrap {
          width: 50%;
          overflow: hidden;
          .mySwiper {
            .swiper_content {
              width: 100%;
              aspect-ratio: 1;
              border: 1px solid #00000033;
              border-radius: 5%;
              overflow: hidden;
              > img {
                width: 100%;
                aspect-ratio: 1;
                object-fit: cover;
              }
            }
          }
        }
        .project_summary {
          width: 50%;
          position: relative;
          .project_summary_text {
            padding-left: 2rem;
            line-height: 1.5;
            word-break: keep-all;
            .project_summary_title {
              font-size: 1.5rem;
              font-family: jamsil_regular;
              line-height: 1;
            }
            > pre {
              white-space: pre-wrap;
            }
            > a {
              font-size: 1rem;
              color: #000000;
              cursor: pointer;
              animation: deploy infinite linear 2000ms;
            }
          }
          > button {
            width: 6rem;
            height: 2rem;
            font-family: jamsil_light;
            border: none;
            background-color: #000000;
            color: #ffffff;
            border-radius: 0.3rem;
            cursor: pointer;
            float: right;
            margin-top: 2rem;
            box-shadow: 2px 2px 3px #000000aa;
            transition: 200ms;
            &:hover {
              transform: translate(2px, 2px);
              box-shadow: none;
            }
            > a {
              text-decoration: none;
              color: #ffffff;
            }
          }
        }
      }
    }
  }
}

@media screen and (max-width: 1024px) {
  .project_main {
    .project_section {
      article {
        > h4 {
          font-size: 4rem;
        }
        > figure {
          display: flex;
          flex-direction: column;
          .project_img_wrap {
            width: 100%;
          }
          .project_summary {
            width: 100%;
            .project_summary_text {
              padding-left: 0;
              .project_summary_title {
                font-size: 2rem;
              }
              > pre {
                font-size: 1.5rem;
              }
              > a {
                font-size: 1.5rem;
              }
            }
            > button {
              width: 10rem;
              height: 4rem;
              border-radius: 0.8rem;
              box-shadow: none;
              &:hover {
                transform: translate(0);
              }
              > a {
                font-size: 1.5rem;
              }
            }
          }
        }
      }
    }
  }
}
@media screen and (max-width: 768px) {
  .project_main {
    .project_section {
      width: 100%;
      article {
        border-bottom: 0.3px solid #00000033;
        > h4 {
          font-size: 2rem;
        }
        > figure {
          width: 95%;
          margin: 0 auto;
          display: flex;
          flex-direction: column;
          .project_img_wrap {
            width: 100%;
          }
          .project_summary {
            width: 100%;
            .project_summary_text {
              padding-left: 0;
              .project_summary_title {
                font-size: 1.5rem;
              }
              > pre {
                font-size: 1.2rem;
              }
              > a {
                font-size: 1.2rem;
              }
            }
            > button {
              width: 10rem;
              height: 4rem;
              border-radius: 0.8rem;
              box-shadow: none;
              &:hover {
                transform: translate(0);
              }
              > a {
                font-size: 1.2rem;
              }
            }
          }
        }
      }
    }
  }
}

@keyframes deploy {
  0% {
    color: #000000;
  }
  50% {
    color: #399ca3;
  }
  100% {
    color: #000000;
  }
}
