.test_main {
  width: 100vw;
  height: 100vh;
  //   background-color: green;
  > div {
    img {
      //   filter: brightness(0);
      filter: invert(51%) sepia(22%) saturate(4744%) hue-rotate(146deg) brightness(112%) contrast(52%);
    }
  }
}
