.toy_main {
  width: 100%;
  min-height: calc(100vh - 100px);
  margin-top: 100px;
  .toy_section {
    max-width: 72rem;
    width: 90%;
    margin: 150px auto 0;
    display: flex;
    flex-wrap: wrap;

    padding-bottom: 5%;
    > h2 {
      width: 100%;
      text-align: center;
    }
    .toy_project {
      min-width: 240px;
      width: 30%;
      margin-right: 5%;
      margin-top: 2.5%;
      &:nth-of-type(3n) {
        margin-right: 0;
      }
      > h4 {
        margin: 0;
        padding: 0;
      }
      .toy_project_img {
        border: 1px solid #00000033;
        min-width: 240px;
        width: 100%;
        aspect-ratio: 3/1;
        margin-top: 2.5%;
        > a {
          display: block;
          width: 100%;
          height: 100%;
          overflow: hidden;
          > img {
            width: 100%;
            height: 100%;
            object-fit: cover;
          }
        }
      }
      .toy_project_info {
        text-align: left;
        font-family: jamsil_regular;
        line-height: 1;
      }
    }
  }
}

@media screen and (max-width: 1024px) {
  .toy_main {
    .toy_section {
      margin-top: 100px;
      justify-content: space-between;
      > h2 {
        font-size: 3rem;
      }
      .toy_project {
        min-width: auto;
        width: 45%;
        margin: 0;
        margin-top: 5%;
        > h4 {
          margin: 10px 0;
          padding: 0;
          font-size: 1.5rem;
        }
        .toy_project_img {
          min-width: auto;
          width: 100%;
          aspect-ratio: 3/1;
          margin-top: 2.5%;
          > a {
            display: block;
            width: 100%;
            height: 100%;
            overflow: hidden;
            > img {
              width: 100%;
              height: 100%;
              object-fit: cover;
            }
          }
        }
        .toy_project_info {
          font-family: jamsil_regular;
          font-size: 1.2rem;
          line-height: 1;
        }
      }
    }
  }
}

@media screen and (max-width: 768px) {
  .toy_main {
    .toy_section {
      justify-content: space-between;
      > h2 {
        font-size: 2.5rem;
      }
      .toy_project {
        min-width: auto;
        width: 45%;
        margin: 0;
        > h4 {
          font-size: 1.2rem;
        }
        .toy_project_img {
          > a {
            display: block;
            width: 100%;
            height: 100%;
            overflow: hidden;
            > img {
              width: 100%;
              height: 100%;
              object-fit: cover;
            }
          }
        }
        .toy_project_info {
          font-family: jamsil_regular;
          font-size: 14px;
          line-height: 1;
          margin-bottom: 30px;
        }
      }
    }
  }
}

@media screen and (max-width: 480px) {
  .toy_main {
    .toy_section {
      justify-content: space-between;
      > h2 {
        font-size: 1.5rem;
      }
      .toy_project {
        width: 100%;
        > h4 {
          font-size: 1.2rem;
        }
        .toy_project_info {
          font-size: 1rem;
        }
      }
    }
  }
}
